@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

/*
Para a organização dos estilos das paginas: 
    *Toda tag deve ser acompanhada por um className;
    *Caso usado algumas da tags: h1,form,input, utilize um className com o nome da pagina,ex: {nomepagina}_h1;
    *fonte Coiny esta sendo usada para todas as fontes da aplicação;
*/

:root {
  --base-color: white;
  --text-color: black;
  --second-color: rgb(22, 21, 21);
  --button-color: white;
  --theme-button-color: rgb(235, 238, 245);
  --input-color: rgb(204, 201, 201);
}
  
.darkmode {
  --base-color: #171922;
  --text-color: rgb(226, 219, 219);
  --second-color: rgb(61, 60, 55);
  --button-color: rgb(73, 71, 71);
  --theme-button-color: rgb(170, 171, 194);
  --input-color: rgb(90, 89, 89);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Coiny", system-ui;
  background-color: var(--base-color);
  color: var(--text-color);
}

/*DARKTHEME*/

.theme_button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 45px;
  width: 45px;
  padding: 0;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-button-color);
  z-index: 100;
  cursor: pointer;
}

#theme_mode svg {
  fill: var(--second-color);
}

#theme_mode svg:last-child {
  display: none;
}

.darkmode #theme_mode svg:first-child {
  display: none;
}

.darkmode #theme_mode svg:last-child {
  display: block;
}
/*LANDINGPAGE ESTILOS*/
.mainpage_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainpage_h1 {
  text-align: center;
  margin-top: 26vmin;
  font-size: 8vmin;
  margin-bottom: 0.2vh;
}

.mainpage_h3{
  text-align: center;
  text-decoration: underline;
  margin-top: 1.2vw;
}
.mainpage_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

.mainpage_input {
  width: 100%;
  max-width: 500px;
  min-width: 250px;
  height: 3rem;
  box-sizing: border-box;
  padding: .8vmin .6vmin .8vmin .1vmin;
  font-size: 22px;
  text-align: center;
  border-radius: 3vmin;
  font-family: "Coiny", system-ui;
  background-color: var(--input-color);
  color: var(--text-color);
}

.mainpage_button {
  line-height: 2.6vmin;
  margin-top: 1.2vw;
  width: 100%;
  max-width: 200px;
  height: 3rem;
  border-radius: 3vmin;
  font-size: 20px;
  font-family: "Coiny", system-ui;
  cursor: pointer;
  background-color: var(--button-color);
  color: var(--text-color);
}

.mainpage_button:hover {
  background-color: gray;
  transform: translateY(-2px);
}

@media (max-width: 600px) {
  .mainpage_main {
    min-height: 100vh;
  }
  .mainpage_h1 {
    margin-top: 10vmin;
    font-size: clamp(2rem, 8vmin, 3rem);
  }

  .mainpage_input {
    min-width: 200px;
    height: 2.5rem;
    font-size: 0.9rem;
  }

  .mainpage_button {
    max-width: 150px;
    height: 2.5rem;
    font-size: 0.9rem;
  }
}


/*CANVASPAGE ESTILOS*/

.canvaspage_back_button {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 45px;
  width: 45px;
  padding: 0;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-button-color);
  z-index: 100;
  cursor: pointer;
}

.canvaspage_back_button svg {
  fill: var(--second-color);
}

.canvaspage_main{
  position: relative;
}

.canvaspage_div_buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  left: 10px;
  gap: 10px;
  z-index: 10;
}
.canvaspage_h3{
  font-family: "Coiny", system-ui;
}
.canvaspage_input{
  max-width: 200px;
  text-align: center;
  font-family: "Coiny", system-ui;
  font-size: 16px;
}
.canvaspage_button {
  position: relative;
  height: 60px;
  width: 60px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25%;
  background-color: var(--theme-button-color);
}

.canvaspage_button svg{
  fill: black;
}

.canvaspage_button_cancel {
  background-color: red;
}

/*Estilo para o Pallet dos stickynotes*/
.colorful-model {
  position: fixed;
  top: 100px;
  left: 150px;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: transparent;
  pointer-events: none;
}

.colorful-content {
  padding: 20px;
  border-radius: 8px;
  gap: 15px;
  align-items: center;
  max-width: 300px;
  width: 100%;
  z-index: 11;
  pointer-events: auto;
}

.colorful-palletpicker {
  width: 200px;
  height: 200px;
}

.colorful-palletpicker  .react-colorful__hue {
  height: 30px;
  border-radius: 4px;
}

.colorful-palletpicker  .react-colorful__pointer {
  width: 26px;
  height: 26px;
}